<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New password</title>
</head>
<body>
<h1>New password</h1>
<hr>
<h3>{{ error }}</h3>
<form action="{% url 'login_app:new_password' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="token" value="{{ token }}">
    <label for="email">Username:</label>
    <input type="text" name="username">
     <label for="password">New password:</label>
    <input type="password" name="password">
     <label for="confirm_password">Confirm password:</label>
    <input type="password"  name="confirm_password">
    <button type="submit">Reset</button>
</form>
</body>
</html>